<div class="shout">
  <%= render shout.content %>
  <div class="timeago">
    - <%= time_ago_in_words(shout.created_at) %>
  </div>
  <div class="user">
    <%= link_to shout.user_email, shout.user %>
  </div>
</div>
